<!-- templates/declaring/entry_update.html -->
{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block CSS %}
{% endblock CSS %}

{% block pageheader %}
  {% trans "Декларування" %}
{% endblock pageheader %}
                  
{% block content %}
	<div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h5><i class="icon fas fa-exclamation-triangle"></i> {% trans "Увага" %}!</h5>
        <p> 
            {% blocktrans %}
                Частина відомостей про особу, документ, що посвідчує особу, та 
                транспортний засіб особистого користування, необхідні для 
                заповнення митної декларації, будуть завантажуватися з профіля 
                користувача. Заповніть Ваш профіль першочергово.
            {% endblocktrans %}
        </p>
    </div>	
	<div class="card elevation-3">
        <div class="card-header">
            <h4 class='text-center'>{% trans "МИТНА ДЕКЛАРАЦІЯ" %}</h4>
            <h5 class='text-center'> 
                {% blocktrans %}
                    для письмового декларування товарів, що переміщуються через
                    митний кордон України громадянами для особистих, сімейних та інших
                    потреб, не пов’язаних зі здійсненням підприємницької діяльності
                {% endblocktrans %}
            </h5>
            <a href="https://zakon.rada.gov.ua/laws/show/431-2012-%D0%BF#n14" target="_blank">
                <h6 class='text-center'> 
                    {% blocktrans %}
                        <i>постанова Кабінету Міністрів України від 21 травня 2012 р. № 431</i>
                    {% endblocktrans %}
                </h6>
            </a>
            <a href="https://zakon.rada.gov.ua/laws/show/z1014-12" target="_blank">
                <h6 class='text-center'> 
                    {% blocktrans %}
                        <i>наказ Міністерства фінансів України від 28 травня 2012 р. № 614</i>
                    {% endblocktrans %}
                </h6>
            </a>
        </div><!-- /.card-header -->
        <div class="card-body">
            <form method='post'>
                {% csrf_token %}
                {% crispy form %}
                
                
                {{ goods_form.management_form|crispy }}
                     
                <div id='form_set'>
                    {% for item in goods_form.forms %}
                        {{ item.non_field_errors }}
                        {{ item.errors }}
                        <div class='no-error'> 
                            {{ item.id }}                  
                            {% crispy item %}                         
                        </div>                                       
                    {% endfor %}
                </div>
                <input type='button' class='btn btn-sm btn-block btn-success' value='{% trans "Додати товар" %}' id='add_more'>
                <div id='empty_form' style='display:none'>
                    <div class='no-error'>
                        
                        {% crispy goods_form.empty_form %}
                    </div>
                </div>
                                         
                            
                    <div class="buttonHolder mt-3">
                        <input type="submit" name="submit" value={% trans "Зберегти" %} class="btn btn-primary btn btn-sm btn-secondary" id="submit-id-submit">
                        <a class="btn btn-sm btn-default" href="/declaring/">{% trans "Відмінити" %}</a>
                    </div>
                
            </form>           
        </div>
    </div>
            
    <!-- /.nav-tabs-custom -->
    {% block JS %}	
        <script src="{% static 'plugins/bootstrap/js/bootstrap-collapse.js' %}"></script>
        <script src="{% static 'plugins/jquery-formset/jquery.formset.js' %}"></script>
        <script type="text/javascript">
            $('#add_more').click(function() {
                var form_idx = $('#id_goods-TOTAL_FORMS').val();
                $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
                $('#id_goods-TOTAL_FORMS').val(parseInt(form_idx)+1);
            });
        </script>

        <style>
            .collapse {display: none;}
            .in.collapse {display: block;height: auto;overflow: auto;}
            .collapsing {position: relative;height: 0;overflow: hidden;-webkit-transition-timing-function: ease;-o-transition-timing-function: ease;transition-timing-function: ease;-webkit-transition-duration: .35s;-o-transition-duration: .35s;transition-duration: .35s;-webkit-transition-property: height,visibility;-o-transition-property: height,visibility;transition-property: height,visibility;}
            legend {font-size: 1.2rem;}
        </style>
    {% endblock JS %}

{% endblock content %}

