<!DOCTYPE html>

{% load static %}
{% load i18n %}

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
		<title>{% trans "iCustoms | Митниця в твоїй кишені" %}</title>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-168191762-1"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-168191762-1');
		</script>

		{% include 'header.html' %}
		{% block CSS %}
		{% endblock CSS %}
	</head>
	<body class="hold-transition sidebar-mini">
		{% block head %}
		{% endblock head %}
		<div class="wrapper">
			{% include 'navbar.html' %}

			{% include 'sidebar.html' %}

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				{% for message in messages %}
					<div class="alert {{ message.tags }} alert-dismissible m-1" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="{% trans "Close"%} ">
							<span aria-hidden="true">&times;</span>
						</button>
						{{ message }}
					</div>
				{% endfor %}
				<!-- Content Header (Page header) -->
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-12">
								<h1 class="m-0 text-dark">
									{% block pageheader %}
                            		{% endblock pageheader %}
								</h1>
								<div class="ribbon-wrapper">
									<div class="ribbon bg-danger">
										{% trans "ТЕСТ" %}
									</div>
								</div>
							</div>
							<!-- /.col -->
							{% comment %} <div class="col-sm-6">
							</div> {% endcomment %}
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content-header -->

				<!-- Main content -->
				<div class="content">
					<div class="container-fluid">
						
						{% block content %}
						{% endblock content %}

					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<!-- Right control sidebar -->
			{% include 'rightbar.html' %}
			<!-- /.right-control-sidebar -->
			
			<!-- Page footer -->
			{% include 'footer.html' %}
			<!-- /.page-footer -->
		</div>
		<!-- ./wrapper -->

		<!-- Scroll to Top Button-->
		<a id="back-to-top" href="#" class="btn btn-primary back-to-top" style="opacity: .5" role="button" aria-label="Scroll to top">
			<i class="fas fa-chevron-up"></i>
		</a>

		<!-- REQUIRED SCRIPTS -->
		{% include 'scripts.html' %}

		{% block JS %}
		{% endblock JS %}
	</body>
</html>
