<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-1">
        

        <!--Kurs.com.ua main-ukraine 240x130 green-->
        <div id='kurs-com-ua-informer-main-ukraine-240x130-green-container'><a href="//old.kurs.com.ua/ua/informer" id="kurs-com-ua-informer-main-ukraine-240x130-green" title="Курс валют информер Украина" rel="nofollow" target="_blank">Информер курса валют</a></div>
        <script type='text/javascript'>
        (function() {var iframe = '<ifr'+'ame src="//old.kurs.com.ua/ua/informer/inf2?color=green" width="240" height="130" frameborder="0" vspace="0" scrolling="no" hspace="0"></ifr'+'ame>';var container = document.getElementById('kurs-com-ua-informer-main-ukraine-240x130-green');container.parentNode.innerHTML = iframe;})();
        </script>
        <noscript><img src='//old.kurs.com.ua/static/images/informer/kurs.png' width='52' height='26' alt='kurs.com.ua: курс валют в Украине!' title='Курс валют' border='0' /></noscript>
        <!--//Kurs.com.ua main-ukraine 240x130 green-->
        
        
        <!--Kurs.com.ua konverter 240x130 blue-->
<div id='kurs-com-ua-informer-konverter-240x130-blue-container'>Курс валют предоставлен сайтом <a href="//old.kurs.com.ua/ua/informer/konverter" id="kurs-com-ua-informer-konverter-240x130-blue" title="Курс валют информер Украина" rel="nofollow" target="_blank">Информер курса валют</a></div>
<script type='text/javascript'>
(function() {var iframe = '<ifr'+'ame src="//old.kurs.com.ua/ua/informer/konv?color=blue" width="240" height="130" frameborder="0" vspace="0" scrolling="no" hspace="0"></ifr'+'ame>';var container = document.getElementById('kurs-com-ua-informer-konverter-240x130-blue');container.parentNode.innerHTML = iframe;})();
</script>
<noscript><img src='//old.kurs.com.ua/static/images/informer/kurs.png' width='52' height='26' alt='old.kurs.com.ua: курс валют в Украине!' title='Курс валют' border='0' /></noscript>
<!--//Kurs.com.ua konverter 240x130 blue-->

        <script src='//pogoda.meta.ua/get_informer/Kyivska/Kyivskiy/Kyiv/?count_days=3&width=240&height=143&head_color=%23FFFFFF&text_color=%23000000&text_color2=%23000000&border_color=%23006699&head_bg_color=%23006699&backgroundTheme=auto&lang=ua&oe=UTF'></script>
    </div>

    
</aside>
<!-- /.control-sidebar -->