{% load static %}
{% load i18n %}


<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'home' %}" class="brand-link" style="padding-top: 5px;">
        <div class="brand-image img-circle elevation-5 ml-2 mt-1" style="opacity: .8">
            <span class="fa-stack fa-sm ml-0">
                <i class="fas fa-globe fa-stack-2x" style="opacity: .6"></i>
                <i class="fa fa-mobile-alt fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="brand-text mx-3">
            <span class="brand-text font-weight-light">
                <ruby style="ruby-position: under;">
                    <i class="fa fa-info"></i> Customs<sup><small>info</small></sup>
                    <rt>{% trans "митниця в твоїй кишені" %}</rt>
                </ruby>
            </span>
        </div>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            {% if user.is_authenticated %}
                <div class="image">
                    {% if user.image %}
                        <img src="{{ user.image.url }}" class="img-circle elevation-2" alt="User Avatar">
                    {% else %}
                        <img src="{% static 'dist/img/avatar.png' %}" class="img-circle elevation-2" alt="Default Avatar">
                    {% endif %}
                </div>
                <div class="info">
                    {% if user.get_full_name %}
                        <a href="{% url 'profile' %}" class="d-block">{{ user.get_full_name }}</a>
                    {% else %}
                        <a href="{% url 'profile' %}" class="d-block">{{ user.username }}</a>
                    {% endif %}
                </div>
            {% else %}
                <div class="image">
                    <img class="img-circle elevation-2" src="{% static 'dist/img/guest.png' %}">
                </div>
                <div class="info text-white">
                        {% trans "ГІСТЬ" %}
                    </span>
                </div>
            {% endif %}
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul
                class="nav nav-sidebar flex-column"
                data-widget="treeview"
                role="menu"
                data-accordion="false"
            >
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            {% trans "Інструменти" %}
                            <span class="right badge badge-danger">
                                {% trans "незабаром" %}
                            </span>
                        </p>
                    </a>
                </li>
                <li class="nav-header">
                    {% trans "СПІЛКУВАННЯ" %}
                </li>
                <li class="nav-item">
                    <a href="{% url 'news_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>
                            {% trans "Новини" %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'topic_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-pen-square"></i>
                        <p>
                            {% trans "Форум" %}
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-comments"></i>
                        <p>
                            {% trans "Чат" %}
                            <span class="right badge badge-danger">
                                {% trans "незабаром" %}
                            </span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'contacts' %}" class="nav-link">
                        <i class="nav-icon fas fa-link"></i>
                        <p>
                            {% trans "Контакти" %}
                        </p>
                    </a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-header">
                        {% trans "КАБІНЕТ" %}
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'profile' %}" class="nav-link">
                            <i class="nav-icon fas fa-user"></i>
                            <p>
                                {% trans "Профіль" %}
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="" class="nav-link">
                            <i class="nav-icon fas fa-file-invoice"></i>
                            <p>
                                {% trans "Декларування" %}
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item has-treeview">
                                <a href="" class="nav-link">
                                    <i class="nav-icon fas fa-users"></i>
                                    <p>
                                        {% trans "Громадяни" %}
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="{% url 'entry_list' %}" class="nav-link">
                                        <i class="nav-icon fas fa-file-contract"></i>
                                        <p>{% trans "Бланк МД" %}</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                        <i class="nav-icon fas fa-hryvnia"></i>
                                        <p>
                                            {% trans "Валюта" %}
                                            <span class="right badge badge-danger">
                                                {% trans "незабаром" %}
                                            </span>
                                        </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item has-treeview">
                                <a href="" class="nav-link">
                                    <i class="nav-icon fas fa-shipping-fast"></i>
                                    <p>
                                        {% trans "Пошта" %}
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"
                                            title="{% trans "для дрібних пакетів, рекомендованих мішків «М», відправлень з оголошеною цінністю" %}">
                                        <i class="nav-icon fas fa-file-contract"></i>
                                        <p>
                                            {% trans "Бланк CN22" %}
                                            <span class="right badge badge-danger">
                                                {% trans "незабаром" %}
                                            </span>
                                        </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"
                                            title="{% trans "для відправлень з оголошеною цінністю з вкладенням готівки, посилок" %}">
                                        <i class="nav-icon fas fa-file-contract"></i>
                                        <p>
                                            {% trans "Бланк CN23" %}
                                            <span class="right badge badge-danger">
                                                {% trans "незабаром" %}
                                            </span>
                                        </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"
                                            title="{% trans "для посилок" %}">
                                        <i class="nav-icon fas fa-file-contract"></i>
                                        <p>
                                            {% trans "Бланк CP71" %}
                                            <span class="right badge badge-danger">
                                                {% trans "незабаром" %}
                                            </span>
                                        </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link"
                                            title="{% trans "повідомлення про вручення" %}">
                                        <i class="nav-icon fas fa-file-contract"></i>
                                        <p>
                                            {% trans "Бланк CN07" %}
                                            <span class="right badge badge-danger">
                                                {% trans "незабаром" %}
                                            </span>
                                        </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-building"></i>
                                <p>
                                    {% trans "Підприємства" %}
                                    <span class="right badge badge-danger">
                                        {% trans "незабаром" %}
                                    </span>
                                </p>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item has-treeview">
                        <a href="" class="nav-link">
                            <i class="nav-icon fas fa-money-check-alt"></i>
                            <p>
                                {% trans "Вартість і платежі" %}
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'calcs' %}" class="nav-link">
                                    <i class="nav-icon fas fa-calculator"></i>
                                    <p>{% trans "Калькулятори" %}</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-exclamation-triangle"></i>
                            <p>
                                {% trans "Ризики" %}
                                <span class="right badge badge-danger">
                                    {% trans "незабаром" %}
                                </span>
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'maps' %}" class="nav-link">
                            <i class="nav-icon fas fa-map-marked-alt"></i>
                            <p>
                                {% trans "Мапа" %}
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="" class="nav-link">
                            <i class="nav-icon fa fa-book"></i>
                            <p>
                                {% trans "Довідники" %}
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'bpoints_list' %}" class="nav-link">
                                <i class="nav-icon fas fa-landmark"></i>
                                <p>{% trans "Митні органи" %}</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'uktzed' %}" class="nav-link">
                                <i class="nav-icon fas fa-barcode"></i>
                                <p>{% trans "УКТЗЕД" %}</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <li class="nav-header">
                    {% trans "НАЛАШТУВАННЯ" %}
                </li>
                <li class="nav-item has-treeview">
                    <a href="{% url 'profile' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-cog"></i>
                        <p>
                            {% trans "Користувач" %}
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="fa fa-user-circle nav-icon"></i>
                                    <p>{% trans "Профіль" %}</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_change_password' %}" class="nav-link">
                                    <i class="fa fa-key nav-icon"></i>
                                    <p>{% trans "Змінити пароль" %}</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_logout' %}" class="nav-link">
                                    <i class="fa fa-sign-out-alt nav-icon"></i>
                                    <p>{% trans "Вийти" %}</p>
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'account_signup' %}" class="nav-link">
                                    <i class="fa fa-user-plus nav-icon"></i>
                                    <p>{% trans "Зареєструватися" %}</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'account_login' %}" class="nav-link">
                                    <i class="fa fa-sign-in-alt nav-icon"></i>
                                    <p>{% trans "Увійти" %}</p>
                                </a>
                            </li>
                        {% endif %}
                        
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>
                            {% trans "Інтерфейс" %}
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>