<!-- templates/flatpages/about.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{{ flatpage.title }}{% endblock title %}

{% block pageheader %}
    {{ flatpage.title }} 
{% endblock pageheader %}

{% block content %}

    <!-- Jumbotron Header -->
    <header class="jumbotron my-2" style="padding-top: 20px;padding-bottom: 20px;">
        <h1 class="display-3"><b>{% trans "Щиро вітаємо!" %}</b></h1>
        <h3 class="lead">{% trans "Ми, команда спеціалістів, і в першу чергу, з митної справи, дійсно раді вітати Вас на нашому першому митному веб-порталі" %} <b>iCustoms<sup><small>info</small></sup></b>.</h3>
        <h3 class="lead">
        {% blocktrans %}Попри всі перепони, а на сьогоднішній день без будь-якої
        зацікавленості та участі з боку держави та можновладців до проблем звичайних громадян
        і бізнесу, ми за власної ініціативи та наявних досвіду, знань і можливостей вирішили 
        створити першу доступну у будь-який час та з будь-якого куточку світу 
        інтернет платформу для забезпечення кожного ефективним та 
        зручним сервісом з митного декларування.{% endblocktrans %}</h3>
        <h3 class="lead">
        {% blocktrans %}Представлений до Вашої уваги реліз є демо версією, яка покликана 
        з Вашого боку - випробувати на зручність і перспективність можливості цього порталу, 
        а з нашого боку - визначити рівень зацікавленості користувачів у даному продукті та 
        проаналізувати надіслані Вами зауваження і пропозиції з метою допрацювання сайту для 
        його стабільної, зручної та ефективної роботи.{% endblocktrans %}</h3>
        <h3 class="lead">
        {% blocktrans %}<b>Стратегія</b> розвитку проекту передбачає декілька основних напрямків:{% endblocktrans %}</h3>
        <h3 class="lead">
        - {% blocktrans %}створення зручного інтернет сервісу для здіснення митного декларування/
        переміщення через митний кордон України товарів громадянами та підприємствами;{% endblocktrans %}</h3>
        <h3 class="lead">
        - {% blocktrans %}впровадження можливості самостійного визначення/фіксації користувачем 
        потенційних ризиків під час переміщення товарів через митний кордон;{% endblocktrans %}</h3>
        <h3 class="lead">
        - {% blocktrans %}інтеграція до веб-платформи прозорого, інтуітивно зрозумілого програмно-інформаційного комплексу
        із визначення митної вартості товарів та розрахунку митних платежів, що базується не тільки на 
        вимогах митного законодавства, а і на світових методиках розрахунку;{% endblocktrans %}</h3>
        <h3 class="lead">
        - {% blocktrans %}створення на базі веб-порталу онлайн-орієнтованого юридично-консультативного
        центру для підтримки наших користувачів{% endblocktrans %}</h3>
        <h3 class="lead">
        {% blocktrans %}Ми плануємо реалізувати нашу стратегію 
        в декілька кроків та за Вашої активної підтримки. І першим з таких кроків - створення 
        <b>безкоштовного</b> сервісу з митного декларування товарів, що переміщуються (пересилаються) 
        громадянами через митний кордон України, завдяки якому Ви зможете завчасно (до перетину 
        митного кордону) створити та роздрукувати митну декларацію{% endblocktrans %}.</h3>
        <h3 class="lead">
        {% blocktrans %}Ми плануємо реалізувати нашу основну мету 
        в декілька кроків та за Вашої активної підтримки{% endblocktrans %}.</h3>
        <h3 class="lead">
        {% blocktrans %}І першим з таких кроків - створення 
        безкоштовного сервісу з митного декларування товарів, що переміщуються (пересилаються) 
        громадянами через митний кордон України, завдяки якому Ви зможете завчасно (до перетину 
        митного кордону) створити та роздрукувати митну декларацію{% endblocktrans %}.</h3>
        <h3 class="lead">
        {% blocktrans %}<b>Перевагами</b> користування нашою веб-платформою вважаємо:{% endblocktrans %}</h3>
        <h3 class="lead">
        - {% blocktrans %}доступ до порталу в режимі 24/7 з будь-якого куточку світу 
        (готуйте документи сидячи в шезлонзі на березі моря);{% endblocktrans %}</h3>
        <h3 class="lead">
        - {% blocktrans %}можливість використання будь-якого мобільного гаджету, ноутбуку, 
        компьютеру із доступом в інтернет завдячуючи адаптивному дизайну веб-порталу 
        (в 21 сторіччі митниця має бути у Вас в кишені);{% endblocktrans %}</h3>
        <h3 class="lead">
        - {% blocktrans %}відсутність необхідності в інсталяції та подальшому оновленні 
        локального програмного забезпечення (не прив'язуйтесь до робочого місця, не витрачайте
        кошти на підтримку та, в решті-решт, працюйте дистанційно);{% endblocktrans %}</h3>
        <h3 class="lead">
        - {% blocktrans %}інтуітивно зрозумілий інтерфейс та потужна система підказок, що дасть 
        змогу користувачу навіть без профільної освіти самостіно заявити до митного оформлення
        свої товари/речі (навіщо платити митним посередникам).{% endblocktrans %}</h3>
        <h3 class="lead">
        {% blocktrans %}Будемо вдячні за Вашу будь-яку участь у нашому спільному проекті. 
        Саме від Вашої думки та підтримки залежить розвиток цього проекту. 
        З Вашими зауваженнями, пропозиціями та бажанням співпраці звертайтесь на нашій 
        сторінці у Facebook або через форму в меню Контакти цього сайту.{% endblocktrans %}.</h3>
        <br>
        <h3 class="lead"><b>{% trans 'Вважаємо, що саме так має виглядати "ДЛЯ ЛЮДЕЙ"!!!' %}</b></h3>
        
    </header>

{% endblock %}