<!-- templates/flatpages/about.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{{ flatpage.title }}{% endblock title %}

{% block pageheader %}
    {{ flatpage.title }} 
{% endblock pageheader %}

{% block content %}

    <!-- Jumbotron Header -->
    <header class="jumbotron my-2" style="padding-top: 20px;padding-bottom: 20px;">
        <h1 class="display-3"><b>{% trans "Щиро вітаємо!" %}</b></h1>
        <h3 class="lead">{% trans "Ми, команда спеціалістів, і в першу чергу, з митної справи, дійсно раді вітати Вас на нашому першому митному веб-порталі" %} <b>iCustoms<sup><small>info</small></sup></b>.</h3>
        <h3 class="lead">
        {% blocktrans %}Попри всі державні перепони, а на сьогоднішній день без будь-якої
        зацікавленості та участі з боку держави та можновладців до проблем звичайних громадян
        і бізнесу, ми за власної ініціативи та наявних досвіду, знань і можливостей вирішили 
        створити першу доступну у будь-який час та з будь-якого куточку світу 
        інтернет платформу для забезпечення кожного ефективним та 
        зручним сервісом з митного декларування.{% endblocktrans %}</h3>
        <h3 class="lead">
        {% blocktrans %}Ми плануємо реалізувати нашу основну мету 
        в декілька кроків та за Вашої активної підтримки. І першим з таких кроків - створення 
        безкоштовного сервісу з митного декларування товарів, що переміщуються (пересилаються) 
        громадянами через митний кордон України, завдяки якому Ви зможете завчасно (до перетину 
        митного кордону) створити та роздрукувати митну декларацію. Будемо вдячні за Вашу 
        будь-яку посильну участь у нашому спільному проекті. З Вашими зауваженнями, пропозиціями та
        бажанням співпраці звертайтесь через форму в меню Контакти. Саме від Вашої думки та підтримки залежить розвиток цього проекту{% endblocktrans %}.</h3>
        <br>
        <h3 class="lead"><b>{% trans 'Вважаємо, що саме так має виглядати "ДЛЯ ЛЮДЕЙ"!!!' %}</b></h3>
        
    </header>

{% endblock %}