<!-- templates/flatpages/home.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{{ flatpage.title }}{% endblock title %}

{% block pageheader %}
    {{ flatpage.title }} 
{% endblock pageheader %}

{% block content %}

    <!-- Jumbotron Header -->
    <header class="jumbotron my-2" style="padding-top: 20px;padding-bottom: 20px;">
        <h1 class="display-3"><b>{% trans "Щиро вітаємо!" %}</b></h1>
        <h3 class="lead">{% trans "Ми дійсно раді вітати Вас на нашому першому митному веб-порталі" %} <b>iCustoms<sup><small>info</small></sup></b>. 
        {% blocktrans %}Наша мета попри всі державні перепони забезпечити кожного ефективним та 
        зручним сервісом з митного декларування. Ми плануємо реалізувати нашу основну мету 
        в декілька кроків та за Вашої активної підтримки. І першим з таких кроків - створення 
        безкоштовного сервісу з митного декларування товарів, що переміщуються (пересилаються) 
        громадянами через митний кордон України, завдяки якому Ви зможете завчасно (до перетину 
        митного кордону) створити та роздрукувати митну декларацію. Будемо вдячні за Вашу 
        будь-яку посильну участь у нашому спільному проекті. З Вашими зауваженнями, пропозиціями та
        бажанням співпраці звертайтесь через форму в меню Контакти{% endblocktrans %}.</h3>
        
    </header>

    <!-- Page Features -->
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 bg-primary text-white">
                <img class="card-img-top" src="{% static 'dist/img/dashboard.png' %}" alt="Dashboard Image">
                <div class="card-header">
                    <h4><b>{% trans "Інструменти" %}</b></h4>
                </div>
                <div class="card-body">
                    <p>{% blocktrans %}Зручна та інформативна панель інструментів. 
                    Відвідувачі та клієнти отримають всю необхідну інформацію щодо
                    завантаженості пунктів пропуску, останіх новин в митній сфері,
                    змін митного законодавства, популярних публікацій з митної тематики{% endblocktrans %}...</p>
                    <span class="right badge badge-danger">
                        {% trans "незабаром" %}
                    </span>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">{% trans "Перейти!" %}</a>
                </div>
                <br>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 bg-warning text-white">
                <img class="card-img-top" src="{% static 'dist/img/forum.png' %}" alt="Forum Image">
                <div class="card-header">
                    <h4><b>{% trans "Форум" %}</b></h4>
                </div>
                <div class="card-body">
                    <p>{% blocktrans %}Дуже простий та зрозумілий у використанні форум, де
                    Ви зможете обговорити свої проблеми та поділитися досвідом у вирішенні митних 
                    питань. Відвідувачі порталу зможуть розміщувати свої публікації та залишати
                    свої коментарі під наявними публікаціями без реєстрації на веб-порталі{% endblocktrans %}...</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'topic_list' %}" class="btn btn-warning text-dark">{% trans "Перейти!" %}</a>
                </div>
                <br>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 bg-success text-white">
                <img class="card-img-top" src="{% static 'dist/img/news.png' %}" alt="News Image">
                <div class="card-header">
                    <h4><b>{% trans "Новини" %}</b></h4>
                </div>
                <div class="card-body">
                    <p>{% blocktrans %}Останні новини з усієї України та поза її межами щодо 
                    розвитку митної інфраструктури та реформування митних органів, 
                    процедур митного контролю та митного оформлення товарів, 
                    порушень митних правил та відповідальності за такі порушення{% endblocktrans %}...</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'news_list' %}" class="btn btn-success text-white">{% trans "Перейти!" %}</a>
                </div>
                <br>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 bg-danger text-white">
                <img class="card-img-top" src="{% static 'dist/img/cabinet.png' %}" alt="Cabinet Image">
                <div class="card-header">
                    <h4><b>{% trans "Кабінет" %}</b></h4>
                </div>
                <div class="card-body">
                    <p>{% blocktrans %}Електронний кабінет клієнта, де тільки
                    авторизовані (зареєстровані) користувачі порталу зможуть створити та роздрукувати
                    митну декларацію на свої товари/речі для подальшого пред'явлення митним органам 
                    в пункті пропуску на митному кордоні та здійснення митниками митного контролю
                    та митного оформлення таких товарів. Він повністю безкоштовний та має зручний 
                    і інтуітивно зрозумілий інтерфейс{% endblocktrans %}...</p>
                </div>
                <div class="card-footer">
                    {% if user.is_authenticated %}
                        <a href="{% url 'entry_list' %}" class="btn btn-danger text-white">{% trans "Перейти!" %}</a>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="btn btn-danger text-white">{% trans "Перейти!" %}</a>
                    {% endif %}
                </div>
                <br>
            </div>
        </div>

    </div>
    <!-- /.row -->

{% endblock %}