<!-- templates/user/profile_documents.html -->
{% extends 'user/profile.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block profile_tabs %}
    <div class="card elevation-3">
        <div class="card-header p-2">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">
                        {% trans "Персональне" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile_documents' %}">
                        {% trans "Документи" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn-secondary" href="#vehicles" data-toggle="tab">
                        {% trans "Транспорт" %}
                    </a>
                </li>
            </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
			<div class="tab-content">				
				<div class="active tab-pane" id="vehicles">
					<div class="m-1">
                        <h4>{% trans "Новий транспортний засіб" %}</h4>
                        <form method='post'>
                            {% csrf_token %}
                            {% crispy form %}
                        </form> 
                    </div>
				</div>
				<!-- /.tab-pane -->
			</div>
			<!-- /.tab-content -->
        </div><!-- /.card-body -->
    </div>
    <!-- /.nav-tabs-custom -->
{% endblock profile_tabs %}